.post-promos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  a {
    flex-basis: 30%;
    text-decoration: none;

    @include media-query($on-palm) {
      min-width: 100%;
    }
  }
}

.post-promo {
  color: $grey-color-dark;
  h3 {
    @include get-font ($sans-serif-font-family, 1rem, 600);
    letter-spacing: 0.3px;
    color: $cyan-color-dark;
  }

  font: 0.8rem/1.5 $serif-font-family;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 200px;
  padding: 10px;
  margin-bottom: $spacing-unit;
  box-shadow: 0 2px 3px rgba(0,0,0,.26);
  
  &:hover {
    color: $red-color-light;
    background-color: rgba($red-color-light, 0.2);
    border-bottom: 10px solid $red-color-light;
  }

  @include media-query ($on-palm) {
    min-height: 100px;
    margin-bottom: 10px;


    &:hover {
      border-bottom: 0;
      border-left: 10px solid $red-color-light;
    }
  }
}

.hero {
  @include bg-image ('/assets/hero-banner.png', 230px - $margin-unit);
  @include get-font ($sans-serif-font-family, 35px, 700);
  text-transform: uppercase;
  line-height: 1;

  // Negative margins put hero within inner wrapper
  margin-left: -$margin-unit;
  margin-right: -$margin-unit;
  padding: $margin-unit;

  // Aligns text to bottom
  display: flex;
  justify-content: left;
  align-items: flex-end;  
}

.hero--light {
  @extend .hero; 
  color: white;
}

.hero--about {
  @include bg-image ('/assets/about-banner.png', 230px - $margin-unit);
}

.hero--blog {
  @include bg-image ('/assets/blog-banner.png', 230px - $margin-unit);
}

.intro-text {
  @include get-font ($sans-serif-font-family, 1.1rem, 400);
  color: rgba($grey-color-dark, 0.6);
  padding: $margin-unit;
  border-bottom: 10px solid $red-color-light;
  margin-bottom: 50px;
}

.button--full {
  display: block;
  @include get-font ($sans-serif-font-family, 1.1rem, 500);
  padding: 0.5rem; 
  background-color: $cyan-color-light;
  text-align: center;
  margin: 1.5rem 0;
  color: white;
  text-decoration: none;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: $cyan-color-dark;
  }

  &:visited {
    color: white;
  }
}